################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnWCFService/v15/Server/sqlite3
/.vs/slnWCFService/v16/Server/sqlite3
/ConsoleTest/obj/Release/TempPE/Connected Services.ServicioIntegrador.Reference.cs.dll
/ConsoleTest/obj/Release/DesignTimeResolveAssemblyReferences.cache
/WcfService/obj/Release/AspnetCompileMerge/Source/Web.config
/WcfService/obj/Release/AspnetCompileMerge/Source/ServicioIntegrador.svc
/WcfService/obj/Release/AspnetCompileMerge/Source/bin/WcfService.pdb
/WcfService/obj/Release/AspnetCompileMerge/Source/bin/WcfService.dll
/WcfService/obj/Release/AspnetCompileMerge/Source/bin/EntityFramework.SqlServer.dll
/WcfService/obj/Release/AspnetCompileMerge/Source/bin/EntityFramework.dll
/WcfService/obj/Release/AspnetCompileMerge/Source/bin/clsServicio.pdb
/WcfService/obj/Release/AspnetCompileMerge/Source/bin/clsServicio.dll.config
/WcfService/obj/Release/AspnetCompileMerge/Source/bin/clsServicio.dll
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/Web.config
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/ServicioIntegrador.svc
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/PrecompiledApp.config
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/bin/WcfService.pdb
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/bin/WcfService.dll
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/bin/EntityFramework.SqlServer.dll
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/bin/EntityFramework.dll
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/bin/clsServicio.pdb
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/bin/clsServicio.dll.config
/WcfService/obj/Release/AspnetCompileMerge/TempBuildDir/bin/clsServicio.dll
