################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnWCFService/v15/Server/sqlite3
/.vs/slnWCFService/v16/Server/sqlite3
